<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Musée du Louvre{% endblock %}</title>

    {% stylesheets filter='cssrewrite' 
        'bundles/app/vendor/bootstrap/css/bootstrap.min.css'
        'bundles/app/vendor/font-awesome/css/font-awesome.min.css'
        'bundles/app/vendor/magnific-popup/magnific-popup.css'
        'bundles/app/css/jquery-ui.css'
        'bundles/app/css/creative.min.css' %}

        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Musée du Louvre</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Your Favorite Source of Free Bootstrap Themes</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Réserver</a>
          </div>
        </div>
      </div>
    </header>

    <section id="services">

      {% block form %}
      {% endblock %}
      
    </section>



    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Informations pratiques</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Horaires d'ouverture : 9h-19h. <br/>
            Le musée est fermé tous les mardis, le 1er mai, le 1er novembre et le 25 décembre.</p>
            <p class="text-faded mb-4">
              En métro : lignes 1 et 7, station "Palais-Royal / Musée du Louvre"; ligne 14, station "Pyramides".<br/>
              En voiture : un parc de stationnement souterrain est accessible par l'avenue du Général-Lemonnier, tous les jours de 7 h 00 à 23 h 00.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contactez-nous !</h2>
            <hr class="my-4">
            <p class="mb-5">Pour une demande d'informations supplémentaires, vous pouvez nous joindre par téléphone ou par e-mail.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>0123456789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:contact@museedulouvre.fr">contact@museedulouvre.fr</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    {% block javascripts %}

        {% javascripts 
            'bundles/app/vendor/jquery/jquery.min.js'
            'bundles/app/vendor/bootstrap/js/bootstrap.bundle.min.js'
            'bundles/app/vendor/jquery/jquery-ui.js'
            'bundles/app/vendor/jquery-easing/jquery.easing.min.js'
            'bundles/app/vendor/scrollreveal/scrollreveal.min.js'
            'bundles/app/vendor/magnific-popup/jquery.magnific-popup.min.js'
            'bundles/app/js/creative.min.js'
            'bundles/app/js/main.js' %}

          <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    
    {% endblock %}

  </body>

</html>
