{% extends '::index.html.twig' %}

{% block form %}

	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Récapitulatif de votre commande</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 mt-5">
            	<form action="{{ path('app_summary') }}" method="post" id="payment-form">
            		<div class="form-row">
            			<label for="card-element">Carte de paiement</label>
            			<div id="card-element"></div>
            			<div id="card-errors" role="alert"></div>
            		</div>
            		<button>Payer</button>
            	</form>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}

	<script src="https://js.stripe.com/v3/"></script>

	<script>

        var stripe = Stripe('pk_test_YA2sOXF30M6MCATJH0JehVh5');
        var elements = stripe.elements();

        var style = {
            base: {
                fontSize: '16px',
                color: "#32325d",
            }
        };

        var card = elements.create('card', {style: style});
        card.mount('#card-element');

        card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');

        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
        });

        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
            if (result.error) {
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                stripeTokenHandler(result.token);
            }
            });
        });

        function stripeTokenHandler(token) {

            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            form.submit();
        }

    </script>

{% endblock %}